{% extends "base.html" %}
{% block content %}

<!--This will be where you can generate an observation by entering the city/country-->

<div class="card">
    <main class="card-body">
        <p>Below, enter the name of the city and country you would like to generate a weather report from.</p>
        <input type="text" id="user_input" class="form-control" placeholder="Enter city (Ex. Chicago)">
        <input type="text" id="user_input" class="form-control" placeholder="Enter country (Ex. United States)">
        
        <button type="submit">Generate</button>

        {% if input %}
        
        {% endif %}
    </main>
</div>


{% endblock %}