{% extends "base.html" %}
{% block content %}

<!--This will be where you can generate an observation by entering the city/country-->

<div class="card">
    <main class="card-body">
        <p>Below, enter the name of the city and country you would like to generate a weather report from.</p>
        <form method="POST">
            <input type="text" id="user_input1" class="form-control" name="city" placeholder="Enter city (Ex. Chicago)">
            <input type="text" id="user_input2" class="form-control" name="country" placeholder="Enter country (Ex. United States)">
            
            <input value="Generate" type="submit"/>
        </form>

    </main>
</div>


{% endblock %}