{% extends "base.html" %}

{% block title %}Edit Weather Report{% endblock %}

{% block content %}
<div class="card">
    <main class="card-body">
        <form method="POST">
            <label>City</label>
            <input type="text" name="city" value="{{ report.city }}" class="form-control">

            <label>Country</label>
            <input type="text" name="country" value="{{ report.country }}" class="form-control">

            <label>Latitude</label>
            <input type="text" name="latitude" value="{{ report.latitude }}" class="form-control">

            <label>Longitude</label>
            <input type="text" name="longitude" value="{{ report.longitude }}" class="form-control">

            <label>Temperature</label>
            <input type="text" name="temp" value="{{ report.temp }}" class="form-control">

            <label>Elevation</label>
            <input type="text" name="elevation" value="{{ report.elevation }}" class="form-control">

            <label>Windspeed</label>
            <input type="text" name="windspeed" value="{{ report.windspeed }}" class="form-control">

            <label>Observation Iime</label>
            <input type="text" name="observation_time" value="{{ report.observation_time }}" class="form-control">

            <button type="submit" class="btn btn-primary mt-3"> Update Report </button>
            
            <a href=" {{ url_for('delete_report', id=report.id) }}" class="btn btn-danger btn-sm mt-3"> Delete Report </a>
        </form>

    </main>
</div>

{% endblock %}